<h1 class="text-center">Add a New Category</h1>

<div class="container">
	<%= form_for @category do |f| %>
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, :class => "form-control", :required => true %>
		</div>
		<%= f.collection_check_boxes :resource_ids, @resources, :id, :name %>
		<br>
		<%= f.submit :class => "btn btn-primary" %>
	<% end %>
</div>
