<h1 class="text-center">Category: <%= @category.name %></h1>

<!-- Google Maps -->
<div class="container">
  <div id="multi_markers2"></div>
</div>

<h2 class="text-center">Resources that provide <%= @category.name %></h2>

<div class="container text-center">
	<% if @category.resources.length > 0 %>
		<% @category.resources.each do |r| %>
			<div class="alert alert-info">
				<h3>
					<a href="/resources/<%= r.id %>"><%= r.name %></a>
				</h3>
			</div>
		<% end %>
	<% else %>
		<div class="alert alert-info">
			Category <%= @category.name %> does not have a resource yet.
		</div>
	<% end %>
	<% if current_user %>
		<h2>Available Actions:</h2>
		<%= link_to 'Edit This Category?', edit_category_path(@category), method: :get, :class => "btn btn-warning" %>
		<%= link_to 'Delete This Category?', category_path(@category), method: :delete, :class => "btn btn-danger" %>
	<% end %>
</div>
<script>
	// console.log('Inside index script');
	var places = "<%= @places %>";
	places = places.replace(/&quot;/g, '"');
	// console.log(places);
</script>

<!-- Moved this logic to the index page to prevent execution on all pages in main.js -->
<script async defer>
$(document).ready(function() {
	    //Google Maps with many markers
    // console.log(JSON.parse(places));
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'multi_markers2' } }, function() {
        var markers = handler.addMarkers(JSON.parse(places));
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
  });
</script>
